.sprite {
  &__one{
    background-position: -5px -5px;
  }
  &__two{
    background-position: -175px -5px;
  }
  &__three{
    background-position: -345px -5px;
  }
  &__four{
    background-position: -5px -119px;
  }
  &__five{
    background-position: -175px -119px;
  }
  &__six{
    background-position: -345px -119px;
  }
  &__seven{
    background-position: -5px -233px;
  }
  &__eight{
    background-position: -175px -233px;
  }
  &__nine{
    background-position: -345px -233px;
  }
  &__ten{
    background-position: -5px -347px;
  }
  &__eleven{
    background-position: -175px -347px;
  }
  &__twelve{
    background-position: -345px -347px;
  }
  &__thirteen{
    background-position: -5px -461px;
  }
  &__fourteen{
    background-position: -175px -461px;
  }
  &__fifteen{
    background-position: -345px -461px;
  }
  &__sixteen{
    background-position: -515px -5px;
  }
  &__seventeen{
    background-position: -515px -119px;
  }
  &__eighteen{
    background-position: -515px -233px;
  }
  &__nineteen{
    background-position: -515px -347px;
  }
  &__twenty{
    background-position: -515px -461px;
  }
  &__twenty-one{
    background-position: -5px -575px;
  }
  &__twenty-two{
    background-position: -175px -575px;
  }
}